<!-- <div class="container">
  <nav>
    <button type="button" (click)="toggle()">Toggle Open/Close</button>
  </nav>

  <div class="test">
    <div>test</div>
    <div>test</div>
    <div>test</div>
    <div>test</div>
    <div>test</div>
    <div>test</div>
    <div>test</div>
    <div>test</div>
  </div>

  <div [@openClose]="isOpen ? 'open' : 'closed'" class="open-close-container">
    <p>The box is now {{ isOpen ? 'open' : 'close' }}!</p>
  </div>

</div> -->

<!-- <app-reusable-animation-test></app-reusable-animation-test> -->
 <app-dynamic-dimension></app-dynamic-dimension>
<app-autocomplete-parent></app-autocomplete-parent>